* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* Contenu horizontal */
.wrapper {
    display: flex;
    flex-direction: row;
    width: 600vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
/* Container */
.outer-wrapper {
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overflow-style: none;
}
/* Permet d'enlever la scrollbar latéral */
::-webkit-scrollbar {
    display: none;
}
/* Slide n°1 */
.one:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;

}

.one {
    display: flex;
    justify-content: center;
}

.content-one {
    position: absolute;
    top: 50px;
    width: 1000px;
    height: 500px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.content-one h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #330036;
    line-height: 80px;
    letter-spacing: 0.36em;
    width: 100%;
    text-indent: -600px;
}

.flex-img_paragraph {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.content-one p {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(72, 86, 93, 0.7);
    padding: 30px;
    width: 50%;
}


.content-one img {
    width: 200px;
    height: auto;
    border-radius: 50% 20% / 20% 50%;
}

/* Slide n°2 */

.two:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-2.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.two {

}
/* Slide n°3 */

.three:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-3.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}


.three {

}

/* Slide n°4 */

.four:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-4.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.four {

}

/* Slide n°5 */

.five:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-5.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.five {


}

/* Slide n°6 */

.six:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-6.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.six {

}