/* GLOBAL PROPERTIES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 98px;
    text-align: center;
    letter-spacing: 0.425em;
    color: #330036;
}

.container {
    margin: 50px 0;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* HORIZONTAL CONTENT  */

.wrapper {
    display: flex;
    flex-direction: row;
    width: 600vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
/* CONTAINER */

.outer-wrapper {
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overflow-style: none;
}
/* REMOVE LATERAL SCROLL BAR */

::-webkit-scrollbar {
    display: none;
}

/* SLIDE N°1 */

.one:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-1.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;

}

.one {
    display: flex;
    justify-content: center;
}

.content-one {
    position: absolute;
    top: 50px;
    width: 1000px;
    height: 500px;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.content-one h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #330036;
    line-height: 80px;
    letter-spacing: 0.36em;
    width: 100%;
    text-indent: -600px;
}

.flex-img_paragraph {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.content-one p {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(72, 86, 93, 0.7);
    padding: 30px;
    width: 50%;
}


.content-one img {
    width: 200px;
    height: auto;
    border-radius: 50% 20% / 20% 50%;
}

/* SLIDE N°2 */

.two:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-2.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.two {
    display: flex;
    justify-content: center;
}

.content-two {
    position: absolute;
    top: 50px;
    width: 1000px;
    height: 500px;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.programming-languages {
    display: flex;
    justify-content: space-evenly;
}

.programming-languages img{
    width: 100px;
    height: auto;
}

.tools-container {
    display: flex;
}

.tools-container .empty {
    width: 50%;
}

.tools-container .tools img:first-child {
    width: 57px;
    height: auto;
}
.tools-container .tools img:nth-child(2) {
    width: 61px;
    height: auto;
}
.tools-container .tools img:nth-child(3) {
    width: 131px;
    height: auto;
}
.tools-container .tools img:last-child {
    width: 163px;
    height: auto;
}

.tools-container .tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 200px 0 200px;
}

.rectangle-background {
    width: 1000px;
    height: 320px;
    background: linear-gradient(0deg, #47565D 6.58%, rgba(133, 108, 107, 0) 100%);
    border-radius: 36px;
    margin-top: 90px;
}

/* SLIDE N°3 */

.three:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-3.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}


.three {

}

/* SLIDE N°4 */

.four:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-4.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.four {

}

/* SLIDE N°5 */

.five:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-5.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.five {


}

/* SLIDE N°6 */

.six:before {
    content: "";
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url("/../images/backgrounds/bg-6.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.six {

}